.list-viewer-main-container {
  width: 90%;
  height: 500px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.list-viewer-list-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  overflow: scroll;
  overflow-x: hidden;
  direction: rtl;
  list-style: none;
  cursor: pointer;
}

.list-viewer-list-buttons-container::-webkit-scrollbar {
  width: 1px;   
}

.list-viewer-list-buttons-container::-webkit-scrollbar-track {
  background: rgba(87, 86, 86, 0.322);        /* color of the tracking area */
}

.list-viewer-list-buttons-container::-webkit-scrollbar-thumb {
  background-color: green;    /* color of the scroll thumb */
}

.list-viewer-display-button,
.list-viewer-display-button-selected  {
  background-color: transparent;
  border: 0;
  color: whitesmoke;
  margin: 2px 0px;
}

.list-viewer-display-button-selected {
  color: green;
}

.list-viewer-display-continer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.list-viewer-display-img {
  height: 100%;
  max-height: 650px;
  width: auto;
}

@media screen and (max-width: 650px) { 

  .list-viewer-main-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .list-viewer-list-buttons-container {
    height: 150px;
    width: 80%;
    direction: ltr;
  }

  .list-viewer-display-contine {
    width: 100%;
  }

  .list-viewer-display-img {
    max-height: 300px;
  }
}