@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-header-container {
  align-items: center;
  background-color: #03270175;
  color: whitesmoke;
  display: flex;
  font-size: 30px;
  font-weight: 100;
  justify-content: center;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.gallery-container-outer-lines {
  border: 1px solid;
  border-color: #009000a1;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 20px;
  width: 90%;
}

.image-gallery-right-nav:hover,
.image-gallery-icon:hover,
.image-gallery-svg:hover {
  color: rgb(0, 144, 0);
}

@media screen and (max-width: 900px) {
  .gallery-header-container {
    font-size: 20px;
  }
}
