.tournaments-main-container {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  height: 300px;
  justify-content: center;
}

.tournaments-description {
  text-align: center;
  width: 80%;
}

.tournaments-events-btn {
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  padding: 20px;
  height: 30px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
}

.tournaments-events-btn:hover {
  color: whitesmoke;
  border: 1px solid rgb(101, 175, 4);
}