.dropdown-lng-menu-btn {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  z-index: 1;
}

.dropdown-menu {
  background-color: #6f6f6f29;
}

.dropdown-item {
  color: whitesmoke;
}

.dropdown-item:hover {
  background-color: rgb(2 56 2 / 33%);
  color: whitesmoke;
}