$min-nav-height: 50px;
$edge-items-margin: 20px;
$background-color: #01210059;;

.navbar-container-ref-wrapper {
  height: $min-nav-height;
  position: sticky;
  transform: translate3d(0,0,0);
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbar-container {
  align-items: center;
  background-color: $background-color;
  color: #c2c2c2;
  display: flex;
  height: 100%;
  justify-content: center;
  position: sticky;
  width: 100%;
}

.navbar-logo-btn {
  background-color: transparent;
  border: none;
  height: 50px;
  margin-left: $edge-items-margin;
}

.navbar-logo {
  height: 80%;
}

.navbar-items-container {
  align-items: center;
  backdrop-filter: blur(10px);
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: auto;
}

.navbar-list-container {
  align-items: center;
  backdrop-filter: blur(10px);
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-list-container li:hover {
  color: rgb(0, 144, 0);
  cursor: pointer;
}

.navbar-btn {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-items-container {
    width: 100%;
  }

  .navbar-list-container {
    align-items: center;
    background-color: #00000096;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .navbar-list-container > a {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
  }

  .navbar-btn {
    background-color: transparent;
    border-color: #00900062;
    border-radius: 5px;
    border-style: solid;
    border: 1px;
    display: block;
    margin-right: $edge-items-margin;
  }

  .navbar-btn:hover {
    background-color: #0e38115c;
    cursor: pointer;
  }
}
