$font-size: min(calc(2vw), 20px);
@font-face {
  font-family: "amiga";
  src: url("../../../assets/font/amigatopazunicoderus-webfont.woff2") format("woff2"), url("../../../assets/font/amigatopazunicoderus-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.aboutus-section {
  // height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

.aboutus-header {
  display: flex;
  justify-content: center;
  width: 100%;
  color: whitesmoke;
  margin-bottom: 50px;
}

.about-us-header-text {
  font-family: amiga;
  font-size: 3.5rem;
  font-weight: 100;
}

.aboutus-header-cursor {
  color: green;
}

.about-us-countup {
  color: rgb(0, 144, 0);
  font-weight: 300;
  font-size: $font-size;
}

.aboutus-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus-splash-arts-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
}

.aboutus-line-separator {
  display: flex;
  border-right: 1px solid;
  border-color: green;
  width: 5px;
}

.aboutus-splash-art-content {
  padding: 30px 20px 30px 20px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.aboutus-splash-art {
  opacity: 0.9;
  height: 100px;
}

.aboutus-splash-art-desc {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: $font-size;
  // width: 50%;
  align-items: center;
  height: 100%;
  width: 100%;

  // color: rgb(0, 144, 0);
  color: whitesmoke;
}

// DESCRIPTION

.aboutus-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size;
  padding: 3vw;
  height: 100%;
  width: 60%;
  color: whitesmoke;
  text-align: center;
}
