// FONT

@font-face {
  font-family: "vcr_osd_monoregular";
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/font/old_mono.woff2") format("woff2"), url("../../../assets/font/old_mono.woff") format("woff");
}

//CONTENT

.welcome-content-container {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.welcome-section {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}

//LOGO

$logo-vw-width: 2.73vw;

.welcome-baron-logo-conteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(55.64px + $logo-vw-width);
  justify-content: center;
  width: 100%;
}

.welcome-baron-logo {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  font-family: "vcr_osd_monoregular";
  height: 60%;
  justify-content: center;
  position: relative;
  width: 28 vw;
}

.welcome-baron-logo-name {
  color: whitesmoke;
}

.welcome-baron-logo-triangle {
  border-color: transparent transparent transparent rgb(10 94 10 / 40%);
  border-style: solid;
  border-width: calc(50px + $logo-vw-width) 0 calc(50px + $logo-vw-width) calc(75px + $logo-vw-width);
  position: absolute;
  right: 0;
  z-index: -1;
}

.welcome-baron-logo-triangle-hovered {
  -webkit-filter: drop-shadow(0px 0px 20px rgb(10 94 10));
  border-color: transparent transparent transparent rgb(10 94 10 / 100%);
  filter: drop-shadow(0px 0px 20px rgb(10 94 10));
}

.welcome-baron-logo-triangle-clicked {
  -webkit-animation: poulsing 1.5s ease-in-out infinite alternate;
  animation: poulsing 1.5s ease-in-out infinite alternate;
  border-color: transparent transparent transparent rgb(10 94 10 / 100%);
}

.welcome-baron-logo-desc {
  font-size: 0.24em;
}

.welcome-baron-logo-desc-letter-col {
  color: green;
}

@-webkit-keyframes poulsing {
  from {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(10 94 10)) drop-shadow(0px 0px 30px rgba(10 94 10));
    filter: drop-shadow(0px 0px 10px rgba(10 94 10)) drop-shadow(0px 0px 30px rgba(10 94 10));
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 20px rgb(10 94 10)) drop-shadow(0px 0px 30px rgb(10 94 10));
    filter: drop-shadow(0px 0px 20px rgb(10 94 10)) drop-shadow(0px 0px 30px rgb(10 94 10));
  }
}

@keyframes poulsing {
  from {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(10 94 10)) drop-shadow(0px 0px 30px rgba(10 94 10));
    filter: drop-shadow(0px 0px 10px rgba(10 94 10)) drop-shadow(0px 0px 30px rgba(10 94 10));
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 20px rgb(10 94 10)) drop-shadow(0px 0px 30px rgb(10 94 10));
    filter: drop-shadow(0px 0px 20px rgb(10 94 10)) drop-shadow(0px 0px 30px rgb(10 94 10));
  }
}

//BACKGROUND

#welcome-background-video {
  -o-object-fit: cover;
  -o-object-position: center top;
  -webkit-filter: brightness(0.2) blur(5px);
  filter: brightness(0.2) blur(5px);
  height: 100%;
  object-fit: cover;
  object-position: center top;
  position: absolute;
  width: 100%;
  z-index: -1;
}

//WELCOME MENU

$fade-duration: 0.5s;
$menu-element-btn-top-btn-padding: 9vh;
$welcome-menu-btn-width: 14vw;
$welcome-menu-btn-height: 6vh;

.welcome-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.welcome-menu-background {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.welcome-menu-background-fade-in {
  -webkit-animation: bcgfadein $fade-duration ease-out forwards;
  animation: bcgfadein $fade-duration ease-out forwards;
}

.welcome-menu-background-fade-out {
  -webkit-animation: bcgfadeout $fade-duration ease-out forwards;
  animation: bcgfadeout $fade-duration ease-out forwards;
}

.welcome-menu-btn,
.welcome-menu-btn-hover {
  background-color: transparent;
  border: solid 1px;
  border-color: rgb(0, 144, 0);
  color: whitesmoke;
  font-size: calc(4px + 1vw);
  min-height: 40px;
  position: absolute;
}

.welcome-menu-btn-hover:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(10 94 10)) drop-shadow(0px 0px 30px rgba(10 94 10));
  background-color: rgba(54, 109, 54, 0.25);
  filter: drop-shadow(0px 0px 10px rgba(10 94 10)) drop-shadow(0px 0px 30px rgba(10 94 10));
}

@-webkit-keyframes bcgfadein {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes bcgfadein {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@-webkit-keyframes bcgfadeout {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes bcgfadeout {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 650px) {
  .welcome-menu-btn,
  .welcome-menu-btn-hover {
    font-size: calc(3vw);
  }

  .welcome-menu-container > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
  }
}
