@font-face {
  font-family: "vcr_osd_monoregular";
  src: url("../../../assets/font/vcr_osd_mono_1.001-webfont.woff2") format("woff2"), url("../../../assets/font/vcr_osd_mono_1.001-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//CONTENT

.welcome-content-container {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.welcome-section {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

//LOGO
$logo-vw-width: 2.73vw;

.welcome-baron-logo-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: calc(55.64px + $logo-vw-width);
  // z-index: 0;
}

.welcome-baron-logo {
  font-family: "vcr_osd_monoregular";
  display: flex;
  position: relative;
  width: 28 vw;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  height: 60%;
}

.welcome-baron-logo-name {
  color: whitesmoke;
}

// .welcome-baron-logo-triangle-hovered,
// .welcome-baron-logo-triangle-not-hovered {
//   z-index: -1;
//   right: 0;
//   position: absolute;
//   border-style: solid;
//   border-width: calc(50px + $logo-vw-width) 0 calc(50px + $logo-vw-width) calc(74px + $logo-vw-width);
// }

.welcome-baron-logo-triangle {
  z-index: -1;
  right: 0;
  position: absolute;
  border-style: solid;
  border-width: calc(50px + $logo-vw-width) 0 calc(50px + $logo-vw-width) calc(74px + $logo-vw-width);
  border-color: transparent transparent transparent rgb(10 94 10 / 40%);
}

.welcome-baron-logo-triangle-hovered {
  // -webkit-filter: drop-shadow(0px 0px 20px rgb(10 94 10));
  border-color: transparent transparent transparent rgb(10 94 10 / 100%);
  filter: drop-shadow(0px 0px 20px rgb(10 94 10));
  // border-color: transparent transparent transparent rgb(10 94 10 / 100%);
  // -webkit-backface-visibility: hidden;
}

.welcome-baron-logo-triangle-clicked {
  border-color: transparent transparent transparent rgb(10 94 10 / 100%);
  animation: poulsing 1.5s ease-in-out infinite alternate;
}

.welcome-baron-logo-desc {
  font-size: 0.24em;
}

.welcome-baron-logo-desc-letter-col {
  color: green;
}

@keyframes poulsing {
  from {
    filter: drop-shadow(0px 0px 10px rgba(10 94 10))  drop-shadow(0px 0px 30px rgba(10 94 10))

  }
  to {
    filter: drop-shadow(0px 0px 20px rgb(10 94 10)) drop-shadow(0px 0px 30px rgb(10 94 10))
  }
}

//BACKGROUND

#welcome-background-video {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: brightness(0.2) blur(5px);
  z-index: -1;
  object-fit: cover;
  object-position: center top;
}

//WELCOME MENU

.welcome-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.welcome-menu-background {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

$menu-element-btn-top-btn-padding: 9vh;
$welcome-menu-btn-width: 14vw;
$welcome-menu-btn-height: 6vh;

.welcome-menu-btn {
  color: whitesmoke;
  background-color: transparent;
  border: solid 1px;
  border-color: rgb(0, 144, 0);
  position: absolute;
  font-size: calc(2px + 1vw);
}

.welcome-menu-element-btn-top-side {
  justify-content: center;
  align-items: end;
}

.welcome-menu-element-btn-bottom-side {
  justify-content: center;
  align-items: start;
}

.welcome-menu-element-btn-center-side {
  justify-content: center;
  align-items: center;
}

$menu-element-btn-side-padding: 20vw;

.welcome-menu-element-btn-left-side {
  padding-left: $menu-element-btn-side-padding;
}

.welcome-menu-element-btn-right-side {
  padding-right: $menu-element-btn-side-padding;
}
