@import url("http://fonts.cdnfonts.com/css/apocalypse");

.promotion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.promotion-header {
  padding: 60px;
  color: whitesmoke;
}

.promotion-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  padding-bottom: 20px;
}
